.wizard-nav{
	text-align: center;
}
.steps{
	padding-bottom: 10px;
}
.steps ol{
	text-align:center;
	background-color: #5499C4;
	border-radius: 4px 4px 0 0;
    box-shadow: none !important;
    margin-bottom: 14px;
    display: table-row;
}
.steps ol li{
	display: table-cell;
    width: 1%;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
.steps ol li.active{
      
	background: #f0f0f0 none repeat scroll 0 0;
	color: lightcyan;
	background-color: #898987;
	height: 30px;
    padding-top: 5px;
}

.steps ol li.active :: after{
      
	transform: translateY(-50%) translateX(50%) rotate(-45deg);
    width: 1.5em;
}
